[2013-02-24 11:06] pragmatrix opened #1 "Needs to handle free arguments."
I'd like to extract free arguments from the command line, e.g. arguments without an option like `MyConsoleApp.exe --opt1 opt1value Filename.txt`. Right now it seems that `Filename.txt` is ignored and can not be extracted from `CommandLineParserResult`.

Is this planned?

[2013-02-24 11:11] pragmatrix opened #2 "License Please :)"

[2013-02-25 06:37] #2 closed, assigned to nobody

[2013-03-18 01:22] siywilliams opened #9 "allow optional header to be added to the generated help/show usage"
Perhaps...

`parser.SetupHelp("?", "help", "h").WithHeader("My Application v1.2");`

When help is generated it would include the UserHeader value at the top before the registered options are listed.

[2013-03-18 01:49] siywilliams opened #10 "handle of empty arguments"
Empty arguments are handled sometimes in a different manner. They could, for example, return an error to the caller, or automatically print the help text.

It would be nice to expose a fluent way of defining the behaviour when empty args are encountered.

One option would be to setup behaviour in a simular way to help, such as through a callback:

`parser.SetupEmpty(text => Console.WriteLine(text)

[2013-03-18 01:52] siywilliams opened #11 "support parsing directly to collections"
for example the consumer may want to capture a number of different filenames to process.

`--filenames file1.txt file2.txt file2.txt`

It would be a good feature to parse the 3 text files into a list of strings. If `--filenames` has no values an empty list could be returned, or error thrown if it is required.

[2013-03-18 01:55] siywilliams opened #12 "support combining (bundled) options"
Should be able to describe `-xyz value` as shorthand for `-x value -y value -z value`

This could work for any data type, not just booleans.

[2013-03-18 20:07] #11 closed, assigned to siywilliams

[2013-03-18 20:07] #12 closed, assigned to siywilliams

[2013-03-19 08:12] #9 closed, assigned to siywilliams

[2013-03-19 08:30] siywilliams opened #13 "support validation"
The Api lends itself nicely to some fluent validation. The failures would be returned as part of the parse result object.

The fluent Api could be provided by a set of extenstion methods that hang off the WithValidation() result, for example

[code]

[2013-03-19 20:12] #10 closed, assigned to siywilliams

[2013-04-17 14:34] jen20 opened #14 "Support long option only for certain switches"
It would be useful if it were possible to not supply a short option in certain cases, and supply only the long version? For example:

[code]

[2013-04-18 11:16] jen20 opened #17 "Change setup API to make registerting short/long option names only easier"
As discussed previously in comments of #14

"For short names, since we're using only one letter, why not actually take a char? So we'd have:

Setup<T>(char short)
Setup<T>(string long)
Setup<T>(char short, string long)

Appreciate that this is a breaking API change though."

[2013-04-18 11:18] #14 closed, assigned to nobody

[2013-04-18 11:19] jen20 opened #19 "Support synonyms"
It would be good to support synonyms for long options (say, --int-ip and --internal-ip referring to the same option in different ways). Think this would probably need some changes to the formatter and parser.

It could be implemented with two extra setup overloads:

Setup<T>(params string long)
Setup<T>(char short, params string long)

[2013-04-22 20:22] siywilliams opened #20 "fluent builder to populate specific type used to hold parsed values"
There seems to be two common types of command line parser, the type that parse and store the values ready to be retrieved by some key/value pair, and another that populates an already defined arguments class with the parsed values (usually using ugly attributes). The second type does have an advantage in some cases because it removes the step required to pull the parsed values from the key/value p

[2013-04-23 10:41] #20 closed, assigned to siywilliams

[2013-04-23 10:41] #17 closed, assigned to nobody

[2014-09-01 06:08] Twinkletoes opened #24 "Bug: longName doesn't work if shortName not supplied"
Fails to find option -engine="c:\engine.txt":

Finds option -engine="c:\engine.txt":

[2014-12-27 15:28] XVincentX opened #26 "Command with parameter"
Hello,
I was wondering if fclp has got a _command_ concept with per-command parameters.
Something like this:

[code]

And then use it in this way

[code]

[2015-01-25 03:39] mbrenn commented on #1
I also agree. Being able to parse something like
- "a.exe input output -o options"
is a mandatory requirement for such a library, which is not satisfied here.

[2015-02-05 10:17] MuiBienCarlota opened #29 "Get Help text apart from SetupHelp callback"
I need a way to get help text (same text as sent to Callback) but appart from Callback.

I some case, help is not asked by caller but some parameters failed a second stage validation (something like "Is the file designated by the parameter exists") and I want to Print error message followed by standard usage.

[2015-02-05 15:19] siywilliams commented on #29
It's not ideal but you can get the help text outside of the callback.

[code]

Beware that if you call ```p.HelpOption.ShowHelp``` before ```p.SetupHelp``` it will throw a ```NotSupportedException```

[2015-02-05 15:20] #24 closed

[2015-02-05 15:39] MuiBienCarlota commented on #29
I'm using nuget version (FluentCommandLineParser.1.4.0) and generic version:

    var p = new FluentCommandLineParser<PushJob>();
    p.SetupHelp("h", "help", "?").Callback(s => Console.WriteLine(s));

I don't have any HelpOption available (neither public nor private). I can cast Parser property:

    FluentCommandLineParser innerParser = p.Parser as FluentCommandLineParser;

but HelpOption is pro

[2015-02-05 16:36] siywilliams commented on #29
Ah yes my mistake, you're using the generic parser ```FluentCommandLineParser<T>``` which doesn't have that property.

Another temperary alternative is to use the formatter directly

[code]

I'll look into adding something more acceptable.

[2015-02-05 16:49] MuiBienCarlota commented on #29
Great solution. I found it very acceptable but you may prefer to limit helper class visibility to advanced scenarios  (I wasn't aware of CommandLineOptionFormatter).

[2015-02-09 14:08] siywilliams commented on #29
From v1.4.1 you can now do the following to manually execute the SetupHelp callback.

[code]

[2015-02-09 15:35] MuiBienCarlota commented on #29
Great. Thanks!

[2015-02-09 15:35] #29 closed

[2015-02-25 20:03] kdelmonte opened #31 "How to display help screen"
Can you please provide an example on how to display a help screen that list all parameters and their purpose?

[2015-02-26 10:16] siywilliams commented on #31
You can setup any help arguments, such as ```-?``` or ```--help``` to print all parameters which have been setup, along with their descriptions to the console by using ```SetupHelp(params string[])```.

For example:
[code]

Since v1.4 you can also choose to display the formatted help screen text manually, so that you can display it under other circumstances (see https://github.com/fclp/fluent-comm

[2015-02-26 20:18] kdelmonte commented on #31
This worked perfectly. I think it is the only thing missing from the docs.

Anyways, thank you. This project is great!

[2015-02-26 20:18] #31 closed

[2015-02-26 22:13] siywilliams commented on #31
Thanks for the feedback. I'll update the docs to include the help setup.

[2015-02-27 10:08] siywilliams commented on #26
I'm just exploring how git style commands could work within the existing FCLP framework, if anyone has any feedback that would be great. I'm trying to extend its functionality rather than replace the two current techniques of setting up expected option.

I'm working on a simple example of an app that tracks files, which can be added and removed.

[code]

We have two commands here, Add and Remove,

[2015-02-27 10:24] XVincentX commented on #26
Hey, thank you very much for the response, I am definitely glad that you're working on the issue.
I am afraid that actually I've lost a bit of context about the code here, and I ended up switching to [PowerArgs](https://github.com/adamabdelhamed/PowerArgs). Anyhow I'll take a bit of time to re-set up the context and let you know my opinions on that.

Thank you very much!

[2015-03-11 13:18] ian-moore opened #33 "Boolean parser doesn't parse single dash with full option name and no argument/suffix"
Truthfully not sure if this is a bug or not, but the README indicates that [/|--|-] should be equivalent. If I have a boolean option, I can do

[code]

[2015-03-11 15:14] siywilliams commented on #33
Thanks @ian-moore

Not really a bug, just the way the options are interpreted. It was also highlighted in issue https://github.com/fclp/fluent-command-line-parser/issues/24

A single dash denotes a short option, and grouped short option are supported, so the parser is interpreting `-myoption` as `-m -y -o -p -t -i -o -n` options.

That being said, I agree with you regarding the README and error th

[2015-03-12 01:19] ian-moore commented on #33
Sorry, didn't catch that in the readme about the multiple short options. Thanks for pointing out - cool feature. Would be nice if that was near the rest of syntax explanation. After pulling down the source and testing this out, I can't reproduce and I see the exception caught in the location you linked to. Not sure why it lets the exception escape in the project I added the latest nuget package to

[2015-03-12 09:44] siywilliams commented on #33
I'll try and get round to improving the readme, I might also include a way of optionally disabling combined options, which would allow `-myoption` to resolve to a long option name.

Did you have 'break when an exception is thrown' enabled for CLR Exceptions in Visual Studio? That would cause the debugger to break when it was thrown. Other than that I can't think of any other reason.

[2015-03-17 08:19] Meai1 opened #34 "Help default output syntax not standard.. make extensible or change?"
I think this syntax:

[code]

[2015-03-17 09:28] siywilliams commented on #34
Thanks Meai1

I'm surprised I've got away this long with having such a bad help formatter. I have actually been working on a [better implementation](https://github.com/fclp/fluent-command-line-parser/blob/formatter/FluentCommandLineParser/Internals/CommandLineOptionFormatterMark2.cs) in the [formatter](https://github.com/fclp/fluent-command-line-parser/tree/formatter) branch.

You can specify a di

[2015-05-21 13:34] leej0nes opened #35 "Another validation question"
I've written a validation extension method using ICommandLineOptionFluent<T> as the extensions key parameter, the method signature is as follows:

        public static void Validate<T>(this ICommandLineOptionFluent<T> value, Predicate<T> validate)
        {
            ...
            ...
            ...
        }

My question is how can I get the value to pass to the predicate, currently I see n

[2015-05-21 20:49] DashNY opened #36 "Please add support for Nullable<DateTime>"
I get an error on Nullable<DateTime> property. It would be great if the parser could support it

[2015-05-22 10:48] siywilliams commented on #36
@DashNY Before I release to nuget, can you try out the [latest build](http://teamcity.codebetter.com/viewLog.html?buildId=191670&tab=artifacts&buildTypeId=bt951)?

[2015-05-22 11:56] siywilliams commented on #35
Hi Lee,

You're unfortunately not going to get access to the guts that you want through the use of extensions methods, you'll have to mod the library itself.

I've just whipped up a rough commit with the bits that I think you would need. See the [commit](https://github.com/fclp/fluent-command-line-parser/commit/385b9918113bbdbb26411da75639789047f50390) I've made in the new [Issue-35 branch](https:

[2015-05-23 12:14] leej0nes opened #37 "Doesn't like parameters which represent URIs"
Treats / in http:// as the start of a parameter.

For instance:

http://services.internal/backoffce/service/svc

Results in these being seen as AdditionalOptionsFound ... oh and where has Object gone?  I can't see it, again could be that it is Saturday and I'm being stupid and need to RTFM to the end.

[2015-05-24 18:45] siywilliams commented on #37
I can't seem to reproduce this, what version of Fclp are you using, and can you provide the setup and args passed in?

I've created [some tests](https://github.com/fclp/fluent-command-line-parser/commit/bdbe981778551c3731a2890acaa4f916217ec8b4) to try and find your problem, but they all pass.

If you're using the generic Fclp then the `Object` property can be found on the Fclp itself: See  [Fluent

[2015-05-28 12:57] DashNY commented on #36
@siywilliams Appears to be working as expected. Please release as nuget.

[2015-06-10 07:14] siywilliams commented on #36
https://www.nuget.org/packages/FluentCommandLineParser/1.4.2

[2015-06-10 07:14] #36 closed

[2015-06-19 14:55] gitizenme opened #38 "Supported Syntax: space char is not supported"
Based on the docs in the README the space ` ` character should work for options in the format:
[code]
However only `:` and `=` work, using a space results in a parse error.

From the docs:
[code]

[2015-06-19 16:25] siywilliams commented on #38
Hi @gitizenme

Yes the space character is absolutely supported, not sure what's going on there.

Can you tell me what version you're using and perhaps the exact arguments you're passing in?

[2015-06-19 19:19] gitizenme commented on #38
Here's a bit more info. If the arg is passed in on the command line then space is works. If I pass the arg in via `System.Console.In` stream then the parse fails.

Example:
[code]
Argument `-l info` passed into the console app works
Typing `l info` into the console session followed by newline fails
Typing `l=Info` into the console works

[2015-06-22 01:14] ghstahl opened #39 "Get rid of the short options"
There is no point to making any distinctions between short and long.  A switch is a switch is a switch.
1. -|--|/ are reserved switch tokens
2. Option name(s) can be any non-spaced string.
3. Let me have any number of options that target a value.

I should be able to do this.
p.Setup<string>()
    .AddOption("Who")
    .AddOption("is")
    .AddOption("your")
    .AddOption("Daddy")
    .AddOption(

[2015-06-22 15:08] kakashif opened #40 "Support long/int64"
There is no support for long types.  There are cases where there is a need to parse something longer than int.max.

[2015-06-22 15:10] kakashif commented on #40
I had already started working on it after coping the repo.  I was advised by a fellow worker to create an issue and submit and PR.  So hopefully this will be accepted and will be my first submission to an open source project.

[2015-06-22 21:30] siywilliams commented on #40
Thanks @kakashif can you open a pull request with your code changes?

[2015-06-22 22:56] kakashif commented on #40
Will do. I am updating some test cases before I create the PR.

[2015-06-23 14:45] kakashif commented on #40
PR submitted: https://github.com/fclp/fluent-command-line-parser/pull/41
I do not know the policy for adding licensing information.  If you have something specific you want added, please let me know and I will update the PR.

[2015-06-23 16:52] siywilliams commented on #39
Thanks @ghstahl

I've used a lot of case sensitive command line options where -d and -D do something different. I think case sensitivity is not something you always need but would be expected in a library such as this. There are users out there who need this functionality.

I agree that this library does need to support treating -|--|/ as equal tokens. The hyphen at the moment denotes a short swit

[2015-06-24 15:55] KevinGerard commented on #1
UP

I also agree with @pragmatrix and @do0om. Could you add an semantics like this ?

In bash for example, you can clearly separate the arguments that are given to the shell and the script it executes: bash --login -- test.sh --option_for_test_sh. Here, everything before the -- goes to bash, everything after the -- goes to test.sh.

[2015-06-26 12:32] ghstahl commented on #39
Ok, I see a legitimate need or -d and -D.

in my fork I have added case sensitivity back in, but at the option level.  The parser can accommodate both in the same system.

I did lose the short option stacking due to making all reserved characters equal, and making no distinction between short and long.
i.e. -a, -b vs -ab  no longer works in my fork.
I speculate I can add it back in with the hard a

[2015-06-30 13:23] dpagano opened #42 "Does not recognize files that start with a slash, e.g. "/var/log/test.txt""
When setting up for retrieving file names (p.Setup<List<string>>('f', "files")), the resulting parser does not recognize file names that start with a slash, such as "/var/log/test.txt" or "/Users/fclp/test.txt".
I suppose this is because the slash is interpreted as an option.
However, I did not find anything that lets me disable "/" as option trigger.
Note that such file names are standard on Linu

[2015-07-01 10:40] siywilliams commented on #42
Thanks @dpagano

I will have a look and see what can be done about intelligently detecting file paths. Another good thing to add to the library is what you mentioned - optionally disable the "/" prefix altogether.

In the meantime you can use `--` to tell the parser that no more options are to follow which will then parse "/Users/fclp/test.txt" correctly.

For example:

[code]

I hope that works f

[2015-07-06 07:21] dpagano commented on #42
Thanks for your answer @siywilliams
Yes, I know about the -- switch. It helps as long as you don't have two options both of which asking for files :) (such as -input -output e.g.)

[2015-07-17 12:21] KvanTTT opened #43 "Nullable enum support"
Current version does not support nullable enum. It will be good to support it.

[2015-07-17 14:09] EricZimmerman opened #44 "back slash at end of string option doesnt work"
if i have this:

  p.Setup(arg => arg.Directory)
                .As("Dir")
                .WithDescription("\tDirectory to look for hives (recursively). --Hive or --Dir is required.");

and then call the program like this:

foo.exe --dir "C:\temp\bar" --sk [veris

things work, but if i do this

foo.exe --dir "C:\temp\bar\" --sk [veris

i get this error

Option '--dir' parse error: could not pars

[2015-07-17 17:15] siywilliams commented on #43
Good idea, I've implemented it and will release to nuget soon.

[2015-07-17 17:40] siywilliams commented on #44
The array passed into <code>static void Main(string[] args)</code> by the .Net framework seems to be different depending on whether you have the final <code>'\'</code> character in it.

[This article](http://weblogs.asp.net/jongalloway//_5B002E00_NET-Gotcha_5D00_-Commandline-args-ending-in-_5C002200_-are-subject-to-CommandLineToArgvW-whackiness) also explains the problem.

Fclp is expecting the .N

[2015-07-21 07:01] siywilliams commented on #40
Now available through [v1.4.3 Nuget package](https://www.nuget.org/packages/FluentCommandLineParser/1.4.3)

[2015-07-21 07:01] #40 closed

[2015-07-21 07:01] siywilliams commented on #43
Now available through [v1.4.3 Nuget package](https://www.nuget.org/packages/FluentCommandLineParser/1.4.3)

[2015-07-21 07:01] #43 closed

[2015-07-21 08:46] KvanTTT commented on #43
Thank you so much!

[2015-07-30 18:07] bbeardsley commented on #39
+1 for getting rid of short vs. long - we should be able to specify a list of strings as the option name kind of like SetupHelp.

[2015-07-30 18:09] bbeardsley opened #45 "Feature Request: Optionally required"
I'd like to have an option optionally required if another parameter is not specified or vice versa.
For example, I have a sftp password parameter that is required unless I specified the local file option in which case I don't want it required.

Something like RequiredWhen(Func<bool> requiredFunc) on the fluent interface?

[2015-07-30 22:01] ghstahl commented on #39
If anyone is interested I have a "Pingo" variant fork (my code name) here;
[Pingo.FluentCommandLineParser](https://github.com/ghstahl/fluent-command-line-parser), with [nuget](https://www.nuget.org/packages/Pingo.FluentCommandLineParser/).  I hope siywilliams picks up the feature changes so I can shut it down.  For now, I am using my variant.

Furthermore, I have a opinion that help should be sepa

[2015-08-13 23:38] cakriwut opened #46 "Need strong named assembly"
Please sign the assembly in Nuget package so that we can use the strong named assembly.
Thanks.

[2015-08-14 07:01] graniv opened #47 "SetupHelp workflow"
Hi,

When you have to call help, the parser: `ICommandLineParserResult result = parser.Parse(args);` doesn't parse args at all.
It'd nice if we can have all arguments parsed even if we the property `HelpCalled = true;` because we might have a use another argument to do something else. :)

[2015-08-14 13:06] Framnk commented on #37
I can reproduce this issue.  I am trying to parse a command line that contain an argument with a list of strings and a standard argument as follows:

command.exe -sources http://first/url/path http://second/url/path -v someotherargument

What I've found is that each string in the list of strings is evaluated as a command-line argument, even though it should be ignored as the 'value' of the -source

[2015-08-14 13:32] siywilliams commented on #37
@Framnk can you give me your setup?

[2015-08-14 13:42] siywilliams commented on #47
What what be there desired process if the arguments were still processed when `HelpCalled = true` but some invalid arguments were found?

Have you got an example of how you would use this, I could do with a better picture painted in my mind!

[2015-08-14 13:44] Framnk commented on #37
private class Arguments
        {
            public string PackageId { get; set; }
            public List<string> Sources { get; set; }
            public string MinVersion { get; set; }
            public string MaxVersion { get; set; }
            public bool IncludePreRelease { get; set; }
        };

var p = new FluentCommandLineParser<Arguments>();
            p.Setup(arg => arg.PackageId)

[2015-08-14 13:44] siywilliams commented on #46
I've actually never signed an assembly before; I've started this process a few times but I've always ran into problems along the way - that's why there is a strongly named key in the solution, but no signed assembly yet :(

[2015-08-14 14:03] siywilliams commented on #37
First thing that stands out to me is `-sources "https://www.nuget.org/api/v2/"` as FCLP uses the GNU style options, where `-` is a short option, and `--` denotes a long option.

Can you try using `-p Ati.ClientServices.VisionPlugin --sources "https://www.nuget.org/api/v2/"` (note the `--`) and see if that is causing the problem.

If it still doesn't work at least I've eliminated that from my mind.

[2015-08-14 14:05] siywilliams commented on #37
Also, is `public List Sources { get; set; }`

supposed to be `public List<string> Sources { get; set; }`?

[2015-08-14 14:17] Framnk commented on #37
Yes, you're right.  It looks like -sources was confusing the parser.  It was misleading because it actually WAS filling in my list of sources even though I had specified that parameter incorrectly...  I have that marked as a required parameter so I would have thought it would have resulted in a parse error?

As far as the List, it was actually List<<string>> in the code I pasted but that got omitt

[2015-08-14 14:29] siywilliams commented on #37
`--sources` gets interpreted as short options `-s -o -u -r -c -e -s` by FCLP. As you've setup sources with a short option `-s` it matches it and assigns the list of strings to it, which is why is doesn't result in an error.

All very sneaky. I do intend (at somepoint) to add the ability to disable the short option grouping and allow you to specify `-sources` the way you were, which would have save

[2015-08-14 14:51] siywilliams commented on #37
I'm going to close this issue for now as I can't reproduce. @leej0nes if you have any other information that could help me reproduce then re-open this issue and add it. Thanks

[2015-08-14 14:51] #37 closed

[2015-08-14 17:35] graniv commented on #47
In fact, in case we had `/arg1 arg1Value /arg2 arg2Value /?` and then we parse... the parser can parse at least arg1 and arg2 even if it detects the help option and no error.

So in my console, maybe I would like to write (or do something else) if `ICommandLineParserResult result` return at least `arg1` and/or `arg2`. But for now `result` returns only `HelpCalled = true` and no options count. Howe

[2015-08-16 07:40] cakriwut commented on #46
Thanks, I can see the snk in the solution.
I also have problem with signed assembly if consumer is signed while one or more references are not signed.

[2015-08-16 16:39] nelyom commented on #44
I've ended up resolving this via my own parser pulling from Environment.CommandLine, rather than rely on the incoming string[] args.

The funny rules on the .NET (and underneath that CommandLineToArgvW) are easily worked around if a little bit of logic is applied.

I've submitted my little project here.  https://github.com/nelyom/cmdLineTokenizer

[2015-08-19 18:49] kdelmonte opened #48 "DateTime parsing problem"
I am getting the following error when passing a valid datetime to a datetime argument:

[code]

[2015-08-20 11:45] siywilliams commented on #48
Thanks, I'm looking into a solution.

[2015-08-24 08:56] phillashworth commented on #46
Just a 'me too', I also I can't use FluentCommandLineParser in my project as it doesn't have a strong name.

[2015-08-25 18:39] #33 closed

[2015-09-25 19:02] anabellchan opened #51 "How to find out with option was triggered"
I'm wondering if there's an elegant way of knowing which option has been set, so that a proper method can be called.  For example:

[code]

Thanks for your time.

[2015-09-25 19:50] anabellchan commented on #51
I've refactored to:

[code]

Callback methos is being called.

However, it would be nice to pick up a return value from the callback method as well.

Thanks!

[2015-10-05 18:48] mribichich commented on #45
+1

[2015-11-18 13:46] TerribleDev opened #52 "Target .net 5 Core"
I'd love to use this, but most of my code targets aspnet 5 core only...

can you target the new stack?

[2015-11-20 15:48] martincostello commented on #46
+1

[2015-11-20 15:58] siywilliams commented on #46
I've setup the build system to create a signed version of the dll. You can try this out with the develop build [here](http://github.com).

No signed nuget or release version yet though, I'm just confirming that the develop signed is OK first

[2015-11-30 09:22] seba76 opened #53 "Custom Formater not passing default parameter value"
In "public string Format(IEnumerable<ICommandLineOption> options)" method from ICommandLineOptionFormatter interface we can't access Default parameter value.

[2015-12-03 12:47] cakriwut opened #54 "Mutually exclusive args"
Does FCLP support mutually exclusive args? For example :  if optional args --cert is specified, then --certkey is required, otherwise both are optionals.

[2015-12-03 13:11] siywilliams commented on #54
Sorry @cakriwut that kind of functionality is not supported at the moment. There are some simpler features that I would like to see included first so it wouldn't be something that would be developed any time soon.

[2015-12-11 13:05] MuiBienCarlota opened #55 "Best way to quit when help is requested"
I'm using generic FluentCommandLineParser like this:

[code]

And i'd need to quit if help was requested.

I know I can add a property bool HelpNeeded in my Arguments class and assign it either in SetupHelp Callback or using result.HelpCalled. But I think I can miss something.

Do you have a better option?

[2015-12-15 11:00] siywilliams commented on #55
Hi @MuiBienCarlota

No better way as such but I would do it using the following...

[code]

[2015-12-22 19:15] TheCycoONE opened #56 "Support 0 and 1 for bool false and true"
There are currently a few ways of specifying boolean arguments, but I would one more. I think it is reasonable to be able to pass 0 for false and 1 for true. Powershell commands normally support 0 or 1 anywhere they would accept $false / $true (which are currently supported).

[2015-12-22 19:32] siywilliams commented on #56
Yes you're quite right, it currently supports true/false on/off and +/- but not 1/0

It's a simple mod so I'll update it.

[2015-12-29 12:14] #56 closed, assigned to nobody

[2016-01-19 11:56] samjudson opened #58 "Conflict between short option and long option - always picks short option"
Hi

I've got two options setup, one of which has a short code, which matches the first letter of the other long option.

[code]

The option passed in is "test2" but the "t" setup option is being called. Surely in this instance the most exact match (the second "test2" option) should be matched?

[2016-01-19 13:45] samjudson commented on #58
OK, I've found the 'issue': The "-" prefix prefers short options, over long options, and I should be using "--" to enforce the long option.

Still not sure if this is the 'correct' behaviour when the option is an exact match on a long option - its certainly not intuitive to me. Any thoughts?

[2016-01-24 18:16] TheR00st3r commented on #58
Same issue here

[2016-02-01 03:38] drdbkarron opened #59 "Parser exits without error but does do callbacks; can't step into call backs VS15"
I thought this was a wonderful idea. Only if it worked.
I tested this both with and without an Argument class.
I want to short circuit the GUI in a WPF project and run it as a CLI or a GUI project.
## Downloaded with NuGet; no source code yet. I would like to get some work done

[code]

String CmdLine = Environment . CommandLine;
            String [ ] CmdArgs = Environment . GetCommandLineArgs (

[2016-02-03 16:07] siywilliams commented on #59
I suspect that `Environment.GetCommandLineArgs()` returns the application name as part of the list of arguments which is confusing the parser. Is it listing something in `result.AdditionalOptionsFound`?

I would be interested in the contents of `CmdArgs` if you could supply it, as the setup looks fine.

[2016-03-07 22:36] silasary opened #60 "Include option prefix in CommandLineParserResult.AdditionalOptionsFound"
When requesting `AdditionalOptionsFound` for the purposes of forwarding to a secondary application, it becomes important to know if an option was lead with a `-`, `--`, or `/`.
I think the easiest (and least breaking) way to implement this would be to add a new property, `AdditionalOptionsRaw`, which is an `IEnumerable<string>` that contains the raw unparsed arguments for arguments that couldn't b

[2016-03-15 22:41] brecko commented on #34
Great library btw. When do you think this will be included in the released version on NuGet? I am starting to get requests from user to have the format better aligned...

[2016-03-16 23:17] brecko opened #61 "Add version argument capability"
Most command line applications must support information beyond just the help of the arguments. For example, the ability to get the version of the executable. This is typically done as follows:
[-v | --version], just like the help is done with [-h | -? | --help]

I need a way to specify a argument switch such as -v and --version where there isn't any value and if this is the argument, bypasses all

[2016-03-18 18:46] siywilliams commented on #61
Hi @brecko

I currently use

[code]

or

[code]

[2016-03-18 20:43] brecko commented on #61
Thanks. I will give it a try. I did everything other than setdefault(false). Not sure it matters, but all my parameters are required so when I perform the parse, it shows I have errors. This is when only -v or --version was used.

UPDATE:
I have the following:
var p = new FluentCommandLineParser<ApplicationArguments> {IsCaseSensitive = false};
p.Setup(arg => arg.CalculatorFile)
   .As(ApplicationA

[2016-03-20 11:04] siywilliams commented on #61
`SetDefault`ensures that a value is set for that option even if one isn't provided, it just makes it more explicit.

Yeah the result contains errors because your other options have been setup as `Required()`.*\* Not much that can be done about that unfortunately, however I would check help, then version, then for any errors such as:

[code]

[2016-03-22 22:15] alekdavis opened #62 "No side-by-side syntax comparison between other command line parsers"
The link for _side-by-side syntax comparison between other command line parsers_ at http://fclp.github.io/fluent-command-line-parser/ point to an template page with no useful information. I'm not sure if the URL is wrong or if the page does not exist at all.

[2016-03-31 19:54] brecko commented on #61
Thanks. I did a little bit of a hybrid of what you specified. I will still contend that some more gracefull way of handling this would be nice for when there are required parameters such as a check to see if a parameter exists or not such as p.Options.Exists(['v','version', 'foobar'...]).

[2016-03-31 19:57] brecko opened #63 "Switch values ending in \" not parsing correctly"
When a switch such as --outputpath "C:\" is used or "\some_unc_path" or "\some_unc_path\" or "c:\some_path\" is used, the \ is getting used as an escape character.

[2016-04-04 11:52] KonstantinRyazantsev opened #64 "Feature proposal: Provide a way to specify arguments object factory method"
In version 1.4.3, `FluentCommandLineParser<TBuildType>` requires that `TBuildType` provides public parameterless constructor, using `new()` generic parameter constraint. Will be nice to have a way to use arguments object without public parameterless constructor. For instance, by introducing `FluentCommandLineParser<TBuildType>` constructor overload, which accepts `Action<TBuildType>` factory metho

[2016-04-09 18:44] thewavelength commented on #53
I'm also interested in this. Why can't we?

[2016-04-25 14:58] NTTAKR commented on #63
Hi Brecko,

just stumbled upon that error myself and investigated a little.
This is not a problem of fluent-command-line-parser, but a general error due to commandline parsing.

If you just output the arguments to a commandline app like this:

app.exe --xx="C:\" --yy="Test"

Then you will see as parameters:
0 = app.exe
1 = --xx=C:"
2 = --yy=Test

So the input parameters calling the parser are alre

[2016-04-25 15:01] NTTAKR commented on #44
See also Issue #63

[2016-04-25 17:13] brecko commented on #63
Hi Andreas, Thanks for the information. I have thought about the '/' and dropping off the '\', however, asking my users to remember to do so is problematic. It is one of those issues of command line parsing from the system itself which occurs prior to the lib getting to do anything, and how the library attempts to piece pieces back together if needed. By the time it gets to me the user of the lib,

[2016-04-25 18:56] siywilliams commented on #63
@brecko @NTTAKR

I think this is a valid bug.

I've been lucky enough to be in control of arguments passed into my apps so my workaround to this so far is to ensure I don't include trailing '\'.

If FCLP were to take on its own parsing a new `FluentCommandLineParser.Parse(string)` overload should be added which would do the conversion to `string[]`.

In #44 @nelyom has provided some code at https:

[2016-04-25 19:57] NTTAKR commented on #63
Hi @siywilliams!

I totally agree with you.
I can't seem to remember since when cmd.exe or .NET Runtime is interpreting and converting \" into " and which other transformation are also done.

The best solution - as you already stated - would be to NOT work with the parsed commandline, but instead use the Commandline String.
That way you totally have control about what is happening, and you even co

[2016-04-25 22:41] brecko commented on #63
Thank you to both in advance!! :)

[2016-05-18 00:43] juniorgasparotto opened #65 "Problem in parse when the string finalize with "\"""
Hello,

I'm with a problem when my input is: "abc\"efd\"", I thing that output should be [abc"efd"](without []), but the output is [abc"efd] without the last char ' " '. It's very strange.

[]s

[2016-05-27 09:38] v-karbovnichiy-parc commented on #62
+1

[2016-06-03 23:20] sheam opened #66 "parameters with argument should throw error if arment is omitted"
If my parameter requires an argument, I would like an error to be thrown if that argument is not supplied.

I tried detecting this in the callback, but the callback never gets called if the argument is not supplied. Essentially it treats it as if the parameter was never supplied.

i.e.,

If the 't' parameter requires a numeric value and should be called like: myapp.exe -t 5, but
`myapp.exe -t`
is

[2016-06-06 15:27] MuiBienCarlota commented on #46
For this kind of needs, I use [.NET Assembly Strong-Name Signer](https://github.com/brutaldev/StrongNameSigner). It's very easy to use.

[2016-06-06 15:32] siywilliams commented on #66
I think I might add a OnError callback that gets called when a problem is found with the setup switch.

For example:

[code]

For now you can access any errors that occurred during the parsing process in the result object:

[code]

[2016-06-09 01:40] kylos101 opened #67 "Object produced by generic FluentCommandLineParser contains default values, instead of parsed values when initialized with a struct"
Greetings!

Thank you very much for providing this library! I recently downloaded it from Nuget, and was able to get it working with the non-generic parser. Very straight forward - your documentation on github was helpful.

I had some trouble with the generic Fluent Command Line Parser, though - the object the parser creates did not contain the parsed values, instead its values were initialized wi

[2016-07-14 07:04] LVladymyr commented on #52
@TerribleDev, I have targeted parser project into dotnet core. If you have interest you could get it here #69 .
Disclaimer: I have not moved tests because of it dependencies, which had no targeted to core yet.

[2016-08-16 19:37] J8K3-zz opened #73 "The documentation does not provide a usage example for CaptureAdditionalArguments."
The documentation does not provide a usage example for CaptureAdditionalArguments. Can I request a quick usage example?

[2016-09-10 22:24] michaeldotknox opened #74 "Quotes not properly handled"
It appears that quotes are not properly handled with the arguments.  For instance, if one of the arguments is a path such as "c:\directory to my files", which needs to be in quotes, then the parser will not assign a value.  I'm using the Generic Fluent Command Line Parser.

I can confirm that if I manually strip out the quotes in the beginning and in the end that properties are assigned correctly.

[2016-09-17 02:32] kkm000 commented on #65
This is how .NET own parser mangles args[], AFAIK. The only fix would be to parse off `Environment.CommandLine`.

[2016-09-24 07:11] devrus91 commented on #1
You may look how other do that case. For example boost::program_options call this type of parameters Positional Options. Here is a [small description](http://www.boost.org/doc/libs/1_55_0/doc/html/program_options/overview.html#idp163359032). Hope it can help you to understed what they are.

[2016-09-26 16:07] wholroyd commented on #39
I would opt to include additional functionality to cover the above use cases instead of getting rid of existing functionality. This library can be used on Linux as well as Windows through Mono/DNX/NetCore, where the short/long functionality is (for the most part) an expected part of that ecosystem.

[2016-09-30 12:08] petero-dk commented on #42
I have this exact problem which really is an issue when running programs on mono (mac or linux)

Right now what I do is run through all arguments before giving them to fluent command line parser and adding: :: if it starts with /, once i get the result back i check for ::/ and remove the ::

Quite a hack!

[code]

[2016-11-04 13:54] avg72 opened #76 "Problem with single dashes and longOption"
Parsing an option using a single dash results in errors.
See examples below.

This gives a problem:
Util.exe -dns "a.b.c" -ip "10.23" -num 23

This works ok:
Util.exe -d "a.b.c" -i "10.23" -n 23
Util.exe /dns "a.b.c" /ip "1.2.3.4" /num 23
Util.exe --dns "a.b.c" --ip "1.2.3.4" --num 23

class Options
    {
        public bool ShowHelp { get; set; } = false;
        public string Dns { get; set; }

[2016-11-20 23:29] QuangT123 commented on #74
I had this issue when I was copying parameter values with quotes from emails.
When I manually typed it in it worked - I assume outlooks quote is different

[2016-11-21 02:05] michaeldotknox commented on #74
No, I never found a solution to the problem.  I ended up writing my own component to do what I needed to do.

[2016-12-01 10:39] vstam42 commented on #46
I need a strong name as well. If you are interested I can make it and then create pull request.

[2016-12-01 12:59] siywilliams commented on #46
I thought I already had one building at teamcity.codebetter.com but I've just realised that it has since been migrated to teamcity.jetbrains.com and everything is now broke.

[2016-12-01 13:50] vstam42 commented on #46
So do you want me to create it as well as nuget package so it is easier to handle it. Something like
FluentCommandLineParser-StronglyNamed

[2016-12-13 21:09] alsaydi commented on #76
I do not think there is an issue here. The convention is you're using dashes, is to use short names (single letters). In this example Util.exe -d**n**s "a.b.c" -ip "10.23" -num 23, the parse looks at the -dns and interprets that as short where d stands for DNS and n stands for num. So it tries to parse n "a.b.c" as a number.

[2016-12-14 03:36] ysunf opened #77 "how can i parse params like "dosomething.exe aaa --disable-background""
i can see the usage for params with short name or long name, but how about the params without names? For example, the chrome, startup with "chrome.exe www.bing.com --disable-background-networking" or maybe "chrome.exe --disable-background-networking www.bing.com --disable-component-update"? Thanks for your help!

[2017-01-06 14:01] aguarino77 commented on #77
Why don't you just parse from index 1 like:
[code]

[2017-01-11 15:37] SjoerdNijboer opened #78 "can't pass in a negative int into the parser"

[2017-02-10 17:46] clmcgrath commented on #52
there a couple PRs, (one being mine)  open for this support but they have been sitting since last summer

[2017-02-10 19:39] siywilliams commented on #52
@clmcgrath I can only apologise. I'm grateful for the input into this project as I never thought it would grow as popular as it has; and it is nice to see people interested in contributing.

I have unfortunately got to the point now where I can no longer support this project to the extent that I would like.  Since I moved back to the UK my job demands more of my time and all the PRs left open for

[2017-03-01 10:38] opinionmachine opened #79 "Any way of showing help on unknown/misspelled options?"
If I have declared an optional parameter such as "filepath" and some user types "filepsth" - is there any way to show help if an unknown option is specified even though no required options are missing?

I see it as follows:
1. OK - User supplies no arguments (settings will come from elsewhere, beyond the scope of this question)
2. OK - User supplies correct arguments -
3. NOT OK - User supplies in

[2017-03-01 11:31] opinionmachine commented on #79
Actually - I had, as suspected missed the AdditionalOptionsFound list.
Using that and the CaptureAdditionalArguments() callback with a flag I could achieve almost what I want.
My only missing feature is "> exe.exe garblage" is not flagged as being garbage, but "> exe.exe --filepsth C:\Temp" and "> exe.exe --filepath C:\Temp garblage" are both correctly flagged as mistakes.

[code]

[2017-03-01 11:31] #79 closed, assigned to nobody

[2017-03-03 17:42] Gonkers commented on #78
This argument syntax works fine for me.
`-i=-44`

[2017-03-13 13:18] DixonDs opened #81 "Alternatives?"
The project seems to be dead now, so does anybody know any good alternatives?

[2017-03-20 22:40] themooserooster commented on #52
I'd be interested in helping maintain the project. Really all it needs it to be brought into the .NET Core era and perhaps some clear some of the issue backlog and it will be a "done" (versus "dead") project for a long time to come. Now that the .Net Core project structure and SDK have finally stabilized, it's the perfect time to do that.

[2017-03-21 16:34] silasary commented on #52
I'm also happy to step up as a maintainer.

[2017-03-22 21:52] clmcgrath commented on #52
This will need to be done again for new format with 2017 I may submit a or for that if I use this on a project again in the future using powerargs for the time being

[2017-03-26 14:34] siywilliams commented on #52
I am way from home at the moment but will contact those interested when I'm back at the end of this coming week.

Thanks everyone

[2017-03-27 09:16] pyrocumulus commented on #81
@DixonDs
Perhaps one of the following:

- https://github.com/nemec/clipr
- https://github.com/jpdillingham/Utility.CommandLine.Arguments (pretty new still)

[2017-03-27 09:19] DixonDs commented on #81
@pyrocumulus Thanks, I've ended up using https://github.com/gsscoder/commandline

[2017-03-27 09:30] pyrocumulus commented on #81
@DixonDs Wow that one is pretty old and still actively maintained. Nice.

[2017-03-27 15:13] sgillbee commented on #1
How about allowing certain arguments to be definable as positional to allow mapping of positional arguments to strongly-typed arguments.

For example:
[code]

This would parse "app.exe -i filename.txt -o outfile.txt" and also "app.exe filename.exe outfile.txt" and also "app.exe outfile.txt -i filename.txt. You could mix named and positional arguments in any order. Basically, the parser would split

[2017-05-19 18:35] jcasale opened #83 "Custom type handling with the generic parser"
The generic parser does not expose a callback, how does one implement a custom handler for the assignment of a value. For example, if the container class has a field of type `Encoder` yet the assignment should take an integer and use `Encoding.GetEncoder(int codepage)`, does a facility exist to perform this?

Obviously an alternative is to use an extra field and perform the assignment and validati

[2017-05-19 19:21] siywilliams commented on #83
I can't give examples just yet as I'm on the road but it sounds like you
need to create a parser that can handle Encoder types and add it to the
CommandLineOptionFactory.

I've done this in the following test but I'm not sure if the methods are
available on the interface (AddOrReplace):
https://github.com/fclp/fluent-command-line-parser/blob/develop/FluentCommandLineParser.Tests/FluentCommandLineP

[2017-05-21 00:08] #83 closed, assigned to nobody

[2017-05-21 13:02] siywilliams commented on #83
Did you manage it Joseph?

On 20 May 2017 20:08, "Joseph L. Casale" <notifications@github.com> wrote:

Closed #83 <https://github.com/fclp/fluent-command-line-parser/issues/83>.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/fclp/fluent-command-line-parser/issues/83#event-1090690855>,
or mute the thread
<https://github.com/noti

[2017-05-21 16:29] jcasale commented on #83
Hey Siy,
I took a look, the `ICommandLineOptionResult` interface inherits a long list of required fields. When we replace the `OptionFactory` on the `FluentCommandLineParser` instance, does this not affect all the options?

[2017-06-29 17:38] #81 closed, assigned to nobody

[2017-07-17 18:20] clmcgrath opened #85 "Is this project dead?"
Is this still being maintained ?
If not please open to new maintainers or we can fork if it is abandoned

[2017-07-17 18:35] silasary commented on #85
Yeah, it's still maintained.
Development is slow, as is often the case with stable codebases, but it is still being used and worked on :)

[2017-07-18 12:08] #85 closed, assigned to nobody

[2017-08-18 20:19] xuwilliam01 opened #86 "AdditionalOptionsFound list contains all args, regardless of whether they were unexpected"
Looking at the code, any used keyvaluepairs in the parsedOptions list are not removed, therefore when the list is copied over to AdditionalOptionsFound, it just copies all the original inputs.

[2017-09-06 21:29] tzejohn opened #87 "How do you escape a parameter that starts with the '/' character?"
I have an option where I am passing in path parameters, and these are prefixed by '/'. The parser is interpreting these as additional long options instead of as parameter values for the previous flag. I have tried wrapping the value in double quotes, which does not work. I also tried single quotes. But in that case, the single quotes also get passed through. Is there any way to disable or escape l

[2017-10-06 16:20] stefanks opened #88 "Warning NU1701 Package 'FluentCommandLineParser 1.4.3' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'"
Please target .net core as well!

Thank you

[2017-10-10 04:57] silasary commented on #88
I'll have a look at what it would involve to target .NET Standard.

[2017-10-12 08:36] thefringeninja commented on #88
There is already a PR open for this. #70

[2017-10-25 20:50] genfail opened #89 "Associated application passes filename only"
when i create an app.exe that can handle data files, i ca nassociate the extension to my app. When  doubleclicking in the explorer on a data file, windows starts my associated application by:
c":\prog files\app.exe" "c:\my folder\datafile.dat"
So the commandline will have an argument without any -f or other character. How can I handle that?

[2017-11-24 09:25] VisualBean opened #90 "SetDefault and Callback when using DateTime results in 01-01-0001 output"
We are using the following code
[code]
When we are NOT providing the -d `parser.Object` returns ExecutionDate as 01-01-0001 and not datetime.today

[2017-11-25 10:58] siywilliams commented on #90
Hi @VisualBean

The callback is there to allow you to do something with the final parsed value, it was the only way to return the parsed value in the first versions of fclp.

The callback shouldn't be used when using the Generic Fluent Command Line Parser which is what you are doing as it can replace the internal function being called as part of the builder object. I did add a comment on the xml d

[2017-11-25 13:56] siywilliams commented on #78
Three ways to specify negative value `-123` for option `myint`

[code]

[2017-11-25 13:56] #78 closed, assigned to nobody

[2017-11-25 14:01] #48 closed, assigned to nobody

[2017-11-25 21:15] siywilliams commented on #87
You need to use something called [_bare double dash_](https://unix.stackexchange.com/questions/11376/what-does-double-dash-mean-also-known-as-bare-double-dash/11382#11382) which is to use the characters `--` to signify to the parser that there are no more options after than point.

For example:
myapp.exe --path -- \path\to\directory
myapp.exe --p -- \path\to\directory

[2017-11-25 21:23] siywilliams commented on #89
In [1.5.0.7-commands](https://www.nuget.org/packages/FluentCommandLineParser/1.5.0.7-commands) there is a new option called `UseForOrphanArguments`, you use it like this:
[code]
which means your use case will now be much friendlier to handle:

`app.exe "c:\my folder\datafile.dat"` will result in `fclp.Object.File == "c:\\my folder\datafile.dat"`

super!

[2017-11-25 21:32] siywilliams commented on #86
@Williamxu98 I thought you were right when I looked at the code, but then I tried it out. It looks to be doing as expected, in that the `AdditionalOptionsFound` list only contain options that were recognised in the input string but could not be matched to any pre-setup options in the parser

![image](https://user-images.githubusercontent.com/3663513/33234999-e6dd66c4-d227-11e7-9029-2452d890b76c.pn

[2017-11-25 21:40] siywilliams commented on #73
@J8K3 It took me a while to remember what that option was for as I've actually never really used it.

From the looks of it thought it was intended to give you the ability to capture any extra values found for an option that clearly is only inteded for one. For example, exposing the ability to specify a maximum value via the cmd line would like like this:

[code]

but if the user enters this in the

[2017-11-25 21:43] siywilliams commented on #67
Thanks for the feedback @kylos101

Yes I think it should be changed to class types only, as the mechanism to set the values clearly doesn't work with structs. A person with a good eye such as yourself can work out whats wrong but some people might get turned off by the library if they encounter this issue at first.

[2017-11-25 21:53] siywilliams commented on #74
Hi @QuangT123 & @michaeldotknox

You've most likely lost interest now but I can't seem to reproduce your issue. If I setup the following and call it using the following cmd:

`app.exe --file-path "c:\directory to my files"`

[code]

Was you app a console application, were you using the `string[] args`?

[2017-11-25 21:54] siywilliams commented on #64
Super idea @KonstantinRyazantsev I will look into adding this suggestion!

[2017-11-25 22:07] siywilliams commented on #65
Yes @kkm000 is correct in that .NET has already had a go at chewing that string value to pieces before it gets into the parser.

I just tried throwing the raw values directly into the parser `fclp.Parse(new []{ "--test", "abc\"efd\"" });` which worked as expected.

[2017-11-25 22:11] siywilliams commented on #76
As designed, see https://github.com/fclp/fluent-command-line-parser/issues/24

[2017-11-25 22:11] #76 closed, assigned to nobody

[2017-11-25 22:18] siywilliams commented on #77
Better support for this in 1.5, see https://github.com/fclp/fluent-command-line-parser/issues/89
[code]

Which supports your `chrome.exe www.bing.com --disable-background-networking` example.

super!

[2017-11-25 22:31] siywilliams commented on #60
An easy enough change as it is collated all in one place.

Just expanding on your idea to save backward compatibility, it might be better to introduce a new property that is a collection of [`ParsedOption`](https://github.com/fclp/fluent-command-line-parser/blob/develop/FluentCommandLineParser/Internals/Parsing/ParsedOption.cs#L29) objects. That way all the meta data is there, and if anything gets

[2017-11-25 22:34] siywilliams commented on #58
Unfortunately as designed, see https://github.com/fclp/fluent-command-line-parser/issues/24 as this lib follows unix conventions.

We do really need to put in an option to disable short options though which would be a much nicer solution for people that like using `-silent` style.

[2017-11-25 22:35] #55 closed, assigned to nobody

[2017-11-25 22:43] siywilliams commented on #53
The underlying type is generic but the interface is not which is why it is missing.

I propose adding the following to the [ICommandLineOption ](https://github.com/fclp/fluent-command-line-parser/blob/develop/FluentCommandLineParser/Internals/ICommandLineOption.cs#L33) interface which will allow you to get the object.

[code]

[2017-11-25 22:47] siywilliams commented on #51
@anabellchan I think that git style commands would be best suited for this.

If you are still in need of this 2 years later then today is your lucky day, see https://github.com/fclp/fluent-command-line-parser/pull/82

[2017-11-25 22:47] #51 closed, assigned to nobody

[2017-11-25 22:50] #44 closed

[2017-11-25 23:40] siywilliams commented on #62
The comparison went a bit crazy, I suspect the way I put it together wasn't the best and in the end I decided to remove it as it would cause more problems than it tried to solve.

My main motivation for this library was to get rid of attributes, so it was to mainly show that off.

In any case I've got no intention of putting the information together again, I think the library stands up on its own

[2017-11-25 23:40] #62 closed, assigned to nobody

[2017-11-26 00:26] siywilliams commented on #46
FluentCommandLineParser.Signed now available (for v1.5 onwards) on [nuget](https://www.nuget.org/packages/FluentCommandLineParser.Signed)

[2017-11-26 00:26] #46 closed, assigned to nobody

[2017-11-26 00:59] siywilliams commented on #58
In v1.5 you will be able to do `var fclp = new FluentCommandLineParser().DisableShortOptions();`

[2017-11-26 01:01] siywilliams commented on #42
In v1.5 you will be able to do `var fclp = new FluentCommandLineParser().UseOwnOptionPrefix("-", "--");` which will omit the "/" prefix altogether solving this issue.

[2017-11-26 01:06] siywilliams commented on #39
In v1.5 you will be able to specify your own option prefix (if you don't want to use "/" for example), plus disable the short option behaviour entirely.

[code]

[2017-11-26 17:42] genfail commented on #89
Hi Siy,

Thank you for this nice extension. Exactly what I needed,

But in Environment.GetCommandLineArgs() the 1st argument is always the complete path of the current exe, so while parsing you should ignore the 1st element  (or at least make an option to ignore the first argument). Currently I use:

args = args.Skip(1).ToArray();

Marcel

From: Siy Williams [mailto:notifications@github.com]
Sent:

[2017-11-26 22:35] siywilliams commented on #89
I've had a good think about this, my initial thought was that I don't want to bend FCLP to fit the nuances of the different ways .NET serves up the command line args, or how windows serves them into the app itself.

However its a small mod and not the first time someone has raised it so I think adding a `SkipFirstArg()` option that can be used in the following would work nicely:

[code]

Also with

[2017-11-30 12:30] seba76 commented on #53
That works for me.

[2017-12-03 21:32] #67 closed, assigned to nobody

[2017-12-04 15:53] sturlath commented on #39
Any change you will add WithDescription so ? and help picks them up?

[2017-12-04 21:57] siywilliams commented on #39
There is already a function WithDescription for help args, is there
something I've missed?

On 4 December 2017 at 15:53, Sturla Thorvaldsson <notifications@github.com>
wrote:

[2017-12-05 09:21] sturlath commented on #39
No sorry I just missed it and then found it so I deleted my comment about it :-)

[2017-12-08 19:11] siywilliams commented on #87
In v2.0 you will be able to do `var fclp = new FluentCommandLineParser().UseOwnOptionPrefix("-", "--");` which will omit the "/" prefix altogether solving this issue.

[2017-12-08 20:38] siywilliams commented on #59
To resolve this usage you will need to use `SkipFirstArg()`, such as the following:

[code]

This will skip the application name when parsing the arguments.

[2017-12-26 23:03] OsirisTerje opened #91 "Can't get help descriptions for commands"
I have set up the system using the non-generic parser, with a set of commands. Each command has a set of options with their descriptions.
I have set up the help system using
`parser.SetupHelp("?", "help").Callback(text => Console.WriteLine(text));`

Now calling the app like:   myapp  gitignore -?
After parsing the arguments, I see that the HelpCalled property is true, but the text coming out is ju

[2017-12-26 23:21] siywilliams commented on #91
Hi Terje,

What's the args you've passed into the parser at runtime?

I suspect you've find a bug, your setup looks good.

On 26 Dec 2017 23:03, "Terje Sandstrom" <notifications@github.com> wrote:

I have set up the system using the non-generic parser, with a set of
commands. Each command has a set of options with their descriptions.
I have set up the help system using
parser.SetupHelp("?", "help"

[2017-12-26 23:24] siywilliams commented on #91
Actually, thinking about it I've not updated the formatter to support commands so this will be why it's not working.

I'll try and sort that out soon, after I've finished these mince pies.

[2017-12-27 10:39] OsirisTerje commented on #91
The command I used was :  IFix  gitignore -?

All of the code is at https://github.com/OsirisTerje/IFix .  The code in question is in Options.cs and SetupCommands.cs.  I converted from CommandLineParser to this parser, so you will find remains of the older one still there.

The syntax of IFix follows the command syntax of git, so I liked that you had added the commands.

I also noted that the Obje

[2018-01-10 13:27] ricebus opened #92 "Conditional parameters?"
Hey,

Is there a way to have conditional params?

I want to be able to do something like
myapp.exe option1 --arg1 .. --arg 2 (where arg1 is required for example)
or
myapp.exe option2 --arg3 .. --arg 4 (where arg3 is required for example)

Thanks in advance

[2018-01-10 13:35] siywilliams commented on #92
Hi @ricebus

Not sure I follow entirely but all are optional by default.
You can specify required options using `.Required()` when setting up the option.

If you have specified some options as required and they are not found in the specified args then `p.Parse(args).HasErrors` will be `true`

[2018-01-10 13:47] ricebus commented on #92
Thanks for the quick reply.

I want to have args1 as Required only if option1 is set. and args2 required if option2 is set.
I can put them all under optional but that's not the wanted functionality.

The only work around I found is to first check args[0] "manually" by myself and then to build a different fclp args class..

[2018-01-10 15:10] siywilliams commented on #92
Unfortunately the library isn't quite that advanced as you've discovered. You'll have to use your workaround for the foreseeable future as the library would need a bit of work to support behaviour such as that.

[2018-01-10 15:24] ricebus commented on #92
Thanks for the quick reply 🤕

[2018-01-10 15:24] #92 closed, assigned to nobody

[2018-01-15 18:42] caverna opened #93 "Feature: Late Binding or SetDefault method"
Hi! I have this situation:
[code]
The behaviour that I expect would be, when an user doesn't provide 'L', just get the 'D' value.

My current workaround is:
[code]

[2018-01-15 21:59] siywilliams commented on #93
Hi @caverna

I can't see your proposed "late-binding" being required in many scenarios, however it might be easy to add a generic func overload for the SetDefault method which can be alternatively used in your particular scenario.

So for example,
[code]

[2018-01-29 21:52] ghost opened #94 "Repeated arguments are ignored. Only the first one is used"
I'm invoking my program like this:
    program.exe -p param1 -p param2 -p ...

[code]
At the end of the call to Parse() I only have "param1" in my collection

[2018-01-29 22:13] siywilliams commented on #94
Hi Jeff,

Yes I must admit I never thought of that use case. You can however use
program.exe -p param1 param2 ... to achieve the same thing

Simon

On 29 Jan 2018 21:52, "Jeff Saremi" <notifications@github.com> wrote:

I'm invoking my program like this:
program.exe -p param1 -p param2 -p ...

with the following declaration:
IList<string> parameters = new List<string>();
var parser = new FluentComm

[2018-01-29 22:49] jeffsaremi opened #95 "\" gets stripped from the end of arguments"
-u \"/some/path\"
is parsed as:
\"/some/path\

[2018-02-15 09:47] agracio opened #96 "HelpCalled and HasErrors preserve values when Parse(args) is called multiple times"
In an app that uses fluent-command-line-parser continuously `var result = Parse(args)` sets `result.HelpCalled` to _true_ when help is called and stays _true_ for all sub-sequential command calls.

Edit:
`result.HasErrors` behaves similarly by setting value to _false_ when one successful command is called. All incorrect commands after that will still have `result.HasErrors` set to _false_.
Using v

[2018-02-15 10:50] siywilliams commented on #96
Hi @agracio ,

Yes the internals of fclp remember some state from the last parse operation. It would be safer to recreate the fclp for each subsequent call at this stage until it can be changed to be state-less.

[2018-02-15 10:59] agracio commented on #96
I have considered this approach as a workaround, but my app has complex setup stage and recreating it can add overhead to command parsing times, is there a way reset state? I am already forced to use reflection for some features so adding one more internal call cannot hurt :)

[2018-02-16 11:13] agracio commented on #96
I think I solved the problem by re-initialising ParseEngine property before each call.
[code]
Is that enough to reset internal state?

[2018-02-16 12:36] siywilliams commented on #96
I think the Help property will need to be reset also

[2018-02-16 20:12] agracio commented on #96
So far my tests show that both HelpCalled and HasErrors are reset between multiple invocations of `Parse(args)` method. I will update this thread if I encounter other issues.

[2018-02-21 10:56] agracio opened #97 "Feature request: .NotNull() check for command options"
It would be great if both required and optional options could be marked as NotNull with parser throwing exception if empty value is passed. The check should work for any object type, not only strings.
Example
[code]

Current implementation allows command line to have `---value` without any actual value so '_not null or empty_' checks need be done separately.

[2018-03-06 18:54] danpetitt opened #98 "Errors not output"
Am I missing something or does it not output any errors if any required option is omitted or invalid?

If it does not output anything, can it?

[2018-04-25 11:40] devrus91 opened #99 "Incorrectly parsed "--" argument"
With folowing command line arguments are not parsed correctly
app.exe --xx "--" --yy 1 --zz 2
Value mapped for --xx arg is "--yy"
All other values are not parsed and got default values

[2018-04-28 05:33] siywilliams commented on #99
Oh crumbs yes I can see that happening.

-- tells the parser to stop searching for switches after that point and instead treat them as values.

It needs fixing so that if the -- is a string value itself such as "--" or '--' then it should be recognised as a string value and not a special token.

[2018-05-11 13:50] talu-zz commented on #91
Any chance the update for the formatter will be released soon?
I really like the fluent comand parser (great work!) unfortnuatly I need help texts for the commands...

Perhaps I can provide a pull request if that helps?

[2018-05-15 22:10] robrich opened #100 "Show dashes in help"
Help doesn't make it obvious that the user needs to include dashes when passing options.

I was working with a novice user with one of my command-line apps.  He passed in nothing, it correctly displayed the help:

    b:big   This option makes it bigger
    l:little  This option makes it smaller

(not the real options)

So he called `myapp.exe b foo l bar` and it happily did nothing.

Showing help

[2018-08-22 07:11] damianh opened #101 "Please find an additional maintainer for this project"
It's a nice lib and it's a shame that it is dying.

Alternatively, can someone point to a maintained fork, if such exists? TY.

[2018-08-24 14:27] siywilliams commented on #101
I don't consider it "dying" myself, however we all view things differently.

What kind of features and development are you hoping for in this library?

[2018-08-24 15:18] jzabroski commented on #101
I think he is referring to the fact 1.5 has been in pre-release on NuGet for 9 months.

[2018-08-25 16:41] damianh commented on #101
@jzabroski is pretty much correct. When people ship forks [1](https://www.nuget.org/packages/FluentCommandLineParser-netstandard/), [2](https://www.nuget.org/packages/FluentCommandLineParserDotnetCore/) (without changes too) it's usually a smell. NetStandard and NetCore been out for years (I'd agree that 2.0 is the "mainstream" release) and this project isn't any closer to shipping a supporting pa

[2018-08-30 08:39] hellboy81 opened #102 "Escaping `.` in command line param"
How can I escape  dot in comamnd line param option `1.2`

[2018-09-02 09:26] GreatTeacherBasshead opened #103 "Passing multiple parameters with the same name"
Is it possible to pass multiple parameters with same name?
For example:

1. docker run --env VAR1=value1 --env VAR2=value2 --env VAR3=value3 ubuntu env
2. terraform apply -var 'var1=value1' -var 'var2=value2' -var 'var3=value3'

[2018-12-09 17:56] EricZimmerman commented on #63
it is really not fun to have to have end users remember to not put a \ on a path with spaces, which breaks things.

id rather see the parse(string) overload or even better, have the project not deal with string[] args at all and hit the Environment object. the cmdLineTokenizer may work, but its GPL

[2018-12-17 10:20] MovGP0 opened #104 "There should be a ConfigurationProvider"
There should be a reference implementation of `Microsoft.Extensions.Configuration.IConfigurationProvider` that works with the `FluentCommandLineParser` class.

https://andrewlock.net/creating-a-custom-iconfigurationprovider-in-asp-net-core-to-parse-yaml/

[2018-12-20 14:10] elbehery95 commented on #74
@siywilliams the issue happens when using "/" instead of "\\"

[2019-01-02 12:59] nathan130200 opened #105 "Feature Request: Cross object property binding for parser."
Since i have two classes, i need to parse CLI args to specfic classes:

[code]

My feature request is:
Allow to parse CLI Arguments into `RootClass` and sub classes properties like:

[code]

Currently if i try to do this, causes exception.

[code]

Since C1 and C2 instances are not null.

In real code:
[code]

[2019-01-02 14:07] siywilliams commented on #105
I did not see that use-case coming !

I think there needs to be a bit of extra smartness around the reflection usage as the property it is trying to set the value on does not exist on the generic type FluentCommandLineParser is constructed with.

[2019-01-02 14:11] siywilliams commented on #104
Looks interesting but I've not come across IConfigurationProvider myself yet.

My concern is adding a dependency to Microsoft.Extensions.Configuration (FCLP currently has no external dependencies, something I've tried to maintain).

The correct way to go about this would be to create another extension project, for example something like FluentCommandLineParser.ConfigurationProvider which would pro

[2019-01-02 14:12] siywilliams commented on #103
What behaviour would you expect ?

I suspect that the last parameter/value pair processed will be written to the parameter variable.

[2019-01-02 14:13] siywilliams commented on #102
Can you provide an example? I'm struggling to picture your issue

[2019-01-03 13:31] GreatTeacherBasshead commented on #103
The idea is to be able to create dynamic variables in the same way as in docker or terraform.

[2019-02-01 06:47] WouterTinus opened #106 "Escaped quote at the end of quoted argument"
I ran into a little bug with the latest Nuget package (1.4.3).

`--param "something something"` is parsed as `something something`
`--param "something \"{4}\" something"` is parsed as `something \"4\" something`

However:

`--param "something \"{4}\""` is expected to be `something \"4\"` but instead gives me `something \"4`, dropping the final quote.

Thanks for a nice library!

[2019-02-20 16:21] sinistram commented on #87
Hi guys, when do you planing to release version 2.0?

[2019-02-20 16:27] siywilliams commented on #87
@sinistram no strong plan as of yet however if it is `UseOwnOptionPrefix` functionality you're after I beleive it is in the commands pre-release https://www.nuget.org/packages/FluentCommandLineParser/1.5.0.20-commands

[2019-02-21 11:00] sinistram commented on #87
@siywilliams, nice) Thank you

[2019-03-05 05:37] EricZimmerman opened #107 "Question: Use a string from another source to populate arguments?"
is it possible to start with a string of command line args, say, in a separate file, and, if that file exists, read it, and update args with said commandline?

In other words, id like to provide a way for fluent to read a command line and parse it into the argument object i have.

if its not possible for this project to take a string and cut it up, is there a method any knows of that allows me to

[2019-03-05 17:09] siywilliams commented on #107
There is no current overload for just a string so you'll have to provide your own extension to convert a `string` into `string[]`.

I don't have a good implementation to share sadly, and after a quick google it appears no one else has a particulary great method of doing so either unfortunately.

If there is a solution that I could integrate into the library that would be super for a lot of people.

[2019-03-09 16:27] EricZimmerman commented on #107
thanks! ill see what i can do

[2019-03-09 16:27] #107 closed, assigned to nobody

[2019-03-25 02:30] InteXX commented on #100
I found a temporary workaround for this:

    Sub Main
      ...
      oParser.SetupHelp("?", "help").Callback(GetHelp(oParser.Options))
    End Main

    Public Function GetHelp(Options As List(Of ICommandLineOption)) As Action(Of String)
      Dim oBuilder As StringBuilder
      Dim oOption As ICommandLineOption
      Dim sUsage As String

      Return Sub(Usage)
               oBuilder = New St

[2019-06-06 15:06] oleksabor commented on #99
I've just tried

app.exe -a "-javascript-delay 3000 -q --no-outline --encoding utf-8 --user-style-sheet defaults/default-css.css"

expected result is to get parameter __a__ with _-javascript-delay 3000 -q --no-outline --encoding utf-8 --user-style-sheet defaults/default-css.css_ value

Is it the same case ?

[2019-06-06 19:44] siywilliams commented on #99
Yes looks exactly the same case unfortunately

[2019-06-07 08:57] oleksabor commented on #99
looks strange

I've just added tests as below

[code]
to the `CommandLineParserEnginerMark2Tests` class and it works fine on develop branch
I've changed `ShouldEqual` to the wrong value and tests fail (as expected)

Does it mean that the `develop` branch has no bug?

[2019-06-07 10:58] oleksabor commented on #99
ok, here is my testing result for the case when argument value contains `-` or `--`:
OS (.net framework whatever) parses command line before it is done in the FCLP
so I've wrote the code like
[code]

for command line like

output is

so second parameter has got value with space inside but `"` was removed by the OS (and it has no chance to get to the FCLP) .

To override this `"` has [to be escaped

[2019-06-07 16:19] siywilliams commented on #99
@oleksabor ha ha thanks for your extensive investigation, I'm not sure what "feature" to call this !?

I've seen it many times before where .NET has already interpreted the commands args _badly_ before they even get to FCLP. In that situation the library can't really do anything to help, so it is important that this is understood.

Thanks again

[2019-07-29 11:16] #26 closed

[2019-09-19 11:35] oleksabor commented on #106
The problem is in the `UsefulExtension.Remove` method:

[code]
`WrapInDoubleQuotes` is executed if there is space in the option value. And there is space. So value like `something "4"` is wrapped to the `"something "4""` when `CommandLineParserEngineMark2` does its job.
But then `StringCommandLineOptionParser.Parse` removes the double quote and removes the all double quotes at the end :(

Here is

[2019-11-29 14:32] Timontheweb opened #109 "Support IPAddress"
Please can you add class IPAddressCommandLineOptionParser?  I've forked and added it, but it really is so simple it would probably be easier for you to add it directly :)

Thanks!

[2019-12-02 20:30] jzabroski commented on #109
@Timontheweb  This is what pull requests are for.

[2019-12-03 09:43] siywilliams commented on #109
Indeed a pull request would be much easier ! :)

[2020-01-20 02:55] codingyourlife commented on #66
I'm new to this command line parser but quite like it so far. This feature is really missing.

Also required parameters should somehow be indicated when using SetupHelp(). The workaround works but the ToString() message only shows the exception name which could be smarter I guess.

[2020-04-28 14:21] oleksabor opened #110 "parameter value starts with dash (-) howto ?"
I'm using the FCLP to get clientid and secret from the command line parameters

It worked fine however I've got secret value generated starting with dash, like `-.q=blablablaG0`

The problem is that it is not recognised by the FCLP as a parameter value:
[code]
the test fails with

  But was:  null

How can I pass parameter value starting with dash ?

I've tried to pass parameter value quoted with

[2020-07-30 14:05] DenisBalan commented on #87
if you have already an app with this library and cannot modify path, just append parent dots.
`dotnet myapp.dll -f /file.txt`
error is
`Option '-f' parse error: could not parse '' to 'System.String'.`
what really should be is something like
`dotnet myapp.dll -f ../../../../../../file.txt`
(first char not to be /)
and that works!

[2020-09-02 00:32] winzig commented on #91
Anyone know if any forks have been updated with a fix for this?

[2021-02-25 17:12] SCLDGit opened #111 "Pass additional parameters into Required() for conditional requirements"
It would be nice to be able to mark some additional into into the Required() field, such that a parameter is only required if some other criteria are met. An example would be only requiring a password to be input if a user name has also been used as an argument. Something like:

[code]

[2021-04-12 21:18] astrohart commented on #104
@siywilliams that is the way to go.  Separate extension project and in its own NuGet package.  This way, I can add that to my project only if I want/need it.

[2021-04-12 21:24] astrohart opened #112 "Auto-setup using reflection"
I'd like to just have the parser eat my custom command line info class and not have to call Setup for _**each and every argument**_.  I'd be fine decorating the properties of my POCO with attributes that would allow the library to be used like:

[code]

The `[Option()]` (or whatever you want to call them) would do all the calls to `Setup` for me, so that then I just fling my `ApplicationArguments`

[2021-04-13 01:25] siywilliams commented on #112
One of the reasons I started Fluent Command Line Parser is because I didn't like using any of the existing CLPs that required attributes decoration. I wanted to keep the CLP logic completely seperate and I felt that attributes didn't allow that.

Plus I liked using fluent api style, hence the name.

[2021-04-13 01:25] #112 closed, assigned to nobody

[2021-04-16 19:34] astrohart opened #113 "Getting parsing exception"
Hi,

My project has the FluentCommandLineParser NuGet package installed.  It's a .NET Framework 4.8 Console Application running on Windows 10 (latest build) with VS 2019 Enterprise.

Here's my `Program.cs`:

[code]

When I click the **Project** menu and then click **Properties**, click the **Debug** tab, and then enter

`-root="C:\temp" -npsv="6.9.5" -opsv="6.9.6"`

for the command-line arguments

[2021-04-16 19:36] EricZimmerman commented on #113
long commands are --, not -

try using -- for each command

[2021-04-16 19:39] astrohart commented on #113
Yes, `--root="C:\temp" --npsv="6.9.5" --opsv="6.9.6"` worked.

**Suggestion** Make the GitHub Pages documentation more descriptive of this requirement.  I am a senior technologist with deep experience in programming, but if I could not understand that long options are always required to begin with `--` then perhaps it may be unclear to others.

**Suggestion** Make the error message during the exce

[2021-04-16 19:50] EricZimmerman commented on #113
i dont use .Required, but rather check for mandatory options being set. this way you can show the entire help screen. i also add a footer showing example commands with my tools that use this library.

something to consider

https://github.com/EricZimmerman/evtx/blob/master/EvtxECmd/Program.cs#L192

[2021-04-16 20:06] softwareguycoder commented on #113
Thanks for the tip! Really appreciate it!

[2021-04-16 20:07] astrohart commented on #113
Thanks for the tip!  Really appreciate it!

[2021-04-16 20:07] #113 closed, assigned to nobody

[2021-07-08 08:29] Suplanus opened #114 "Need strong named assembly (again)"
Need for third party apps a strong named assembly.
There was a Nuget version of it: #46

Would it be possible to build it again?

[2021-07-08 08:31] Suplanus commented on #114
Oh, I saw its the current version...

[2021-07-08 08:31] #114 closed, assigned to nobody

[2021-07-22 15:58] jzabroski opened #115 "Can I help support this project?"
I feel it wouldn't take me very long to bring this project up to speed and add github actions.

[2021-07-24 01:33] silasary commented on #115
Github Actions would be lovely

[2021-08-26 12:42] jzabroski commented on #115
@siywilliams Just curious if you still monitor things here.

[2021-10-12 12:41] bpupiec opened #116 "Error during parsing datetime parameter is ignored"
If a datetime argument is defined in parser, but datetime is passed with invalid format (all letters for example) then error no error is raised.  Argument remains unset even if marked as required, application is not stopped and continues operation.

[2022-09-26 18:02] Salz150 opened #117 "URL for project site in the nuget package is incorrect."
| URL for project site in NuGet package (incorrect) | https://fclp.github.com/fluent-command-line-parser|
-------------------------------------------|----------------------------------------------------------|
| Correct URL for project                        | https://github.com/fclp/fluent-command-line-parser|

[2022-11-11 14:58] sonicmouse opened #118 "Not compatible with .NET6"
This looks like a lovely commandline processor, but I can't use it as it raises a warning in my project:

`
Warning	NU1701	Package 'FluentCommandLineParser 1.4.3' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8, .NETFramework,Version=v4.8.1' instead of